.input{
    text-decoration: none;
    border-radius: 20%;
    width: 85px;
    border: 1px solid crimson;
    background: white;
    background-color: white;
    height: 19px;
    font-size: 17px;
    margin-top: 8.5px;
}
::placeholder{
    color: black;
}

.btn{
    text-decoration: none;
    border-radius: 20%;
    border: 1px solid crimson;
    background: white;
    height: 21px;
    font-size: 16px;
}